<div class="container justify-content-center">
    <table class=" table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Is Admin?</th>
                <th>Toggle Admin</th>
                
            </tr>
        </thead>
        <tbody>
            <tr appTable  *ngFor="let userinfo of userInfoList; let i = index">
                <!--<td> <a href="">{{userinfo.email}}</td> -->
                    <td >
                        <a href="#" class="link-info">{{userinfo.email}}</a>
                    </td>
                <td [ngClass]="userinfo | isAdmin">{{userinfo.isAdmin}}</td>
                <td>
                    <button class="btn btn-primary" (click)="toggleAdmin(i)">Toggle admin</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>