<!-- <div class="row">
    <div class="col-8">
        <form (ngSubmit)="onSignup(f)" #f="ngForm">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" ngModel>
            </div>
            <div class="form-group">
                <label for="passwd">Password</label>
                <input type="password" name="passwd" id="passwd" class="form-control" ngModel>
            </div>
            <input type="submit" class="btn btn-primary" value="Sign up">
        </form>
    </div>
</div>
-->

<div class="row">
    <div class="col-8">
        <form [formGroup]="form" (ngSubmit)="onSignup()">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" formControlName="email" class="form-control">
            </div>
            <!-- <div  *ngIf="!email.valid && email.touched">
                <span class="danger">Email already taken!</span>
            </div> -->
            <div class="form-group">
                <label for="passwd">Password</label>
                <input type="password" name="passwd" id="passwd" formControlName="passwd" class="form-control">
            </div>
            <div class="form-group">
                <label for="passwd2">Repeat password</label>
                <input type="password" name="passwd2" id="passwd2" formControlName="passwd2" class="form-control">
            </div>
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </form>
    </div>
</div>