body
{
    width: 100%;
}
.top
{

    display: flex;
    flex-direction: row;
    width: 100%;
}
.inner
{
  margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
img
{
    width: 10%;
    height: 10%;
}
