<div class="top" *ngFor="let book of books">
    <img src="/assets/images/{{book.img}}">
<div class="inner">
<h3>{{book.title}}</h3>
<h6>{{book.author}}</h6>
<h6>{{book.releaseDate | date:"MMM,yyy"}}</h6>
<div [ngSwitch]="book.genre">
    <h5 *ngSwitchCase="'sciencefiction'" [ngStyle]="{
        'color': 'white',
        'backgroundColor' : 'red'
    }">{{book.genre}}</h5>
    <h5 *ngSwitchCase="'software'" [ngStyle]="{
        'color': 'white',
        'backgroundColor' : 'blue'
    }">{{book.genre}}</h5>
    <h5 *ngSwitchDefault [ngStyle]="{
        'font-style': 'italic'
    }">{{book.genre}}</h5>
</div>
<p>{{book.summary | sumary:100}}</p>
<span>{{book.price | currency:'€'}}</span>
</div>
</div>