<div class="card mb-4 bg-primary text-white" style="height: 220px;">
  <div class="card-header border-0">
    <div ngbDropdown class="d-inline-block" style="float: right">
      <button class="btn btn-secondary btn-sm" id="dropdownMenuButton" ngbDropdownToggle>
        <i class="fas fa-cog"></i>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
        <button ngbDropdownItem (click)="onDeleteGoal()">Delete goal</button>
        <button ngbDropdownItem>Edit goal</button>
        <button ngbDropdownItem>Pause goal</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ goal.titel }}</h5>
    <div class="card-text">
      <p>{{ goal.description | slice:0:50 }}{{goal.description.length > 50 ? '...': ''}}</p>
    </div>
    <p class="card-text">{{this.progress}} </p>
    <button class="knop btn-secondary btn-sm text-white bg-secondary" (click)="resetTime()">Reset time</button>
  </div>
</div>
