<div class="container mt-5">
    <div class="row">
        <div class="col-md-6" *ngFor="let timer of timerList; let i = index">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{timer['title']}}</h5>
                    <p class="card-text">{{timer['description']}}</p>
                    <p class="card-text">{{this.dateList[i]}}</p>
                    <p class="card-text">{{this.calculateTime(i)}}</p>
                    <button class="btn btn-secondary" (click)="editTimer(i)">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>