
  
    <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
      <div class="container-fluid">
    
      <ul class="navbar-nav">
       
       


        <ng-template [ngIf]="authService.isLoggedIn()">
            <li class="nav-item">
              <a class="nav-link" routerLink="timers/dashboard">Dashboard</a>
            </li>
        
          <li class="nav-item">
            <a class="nav-link" (click)="onLogout()">logout</a>
        </li>
        
        </ng-template>
        <ng-template [ngIf]="(authService.isAdmin() && authService.isLoggedIn())">
          <li class="nav-item" >
            <a class="nav-link" routerLink="admin/overview">Admin</a>
          </li>
        </ng-template>
        <ng-template [ngIf]="!authService.isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link" routerLink="auth/login">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="auth/register">Register</a>
      </li>
     
      </ng-template>





    </ul>
  </div>
</nav>
