<!--<h2>{{ hero.name  }} Details</h2>
<div>
    <label for="name">Hero Name:</label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div>
-->
<h2>My Heroes</h2>
<div>
    <label for="new-hero">Hero name:</label>
    <input id="new-hero" #heroName>
    <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
        Add hero
    </button>
</div>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}} </span>{{hero.name}} <br>
        </a>
    </li>
</ul>
